.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  // background-color: #3462ab;
  // box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.75);
}
