.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
    column-gap: 10px;
  }
}

.menu a {
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu li {
  position: relative;
  padding: 2px 0;
}

.menu > li > ul {
  left: 0;
  top: 100%;
}

.menu > li ul {
  display: none;
  position: absolute;
  margin-top: 1px;
  background-color: #3462ab;
  width: max-content;
  border-radius: 6px;
}

.menu a {
  padding: 10px 20px;
  background-color: rgb(0 0 0 / 20%);
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  display: block;
  border-radius: 6px;
}

.menu li > a:hover {
  background-color: rgb(0 0 0 / 60%);
}

.menu a:hover,
.menu a:focus {
  background-color: rgb(0 0 0 / 42%);
}

.menu > li > ul ul {
  left: 100%;
  top: 0;
}

.menu li:hover > ul,
.menu a:focus + ul,
.menu li:focus-within > ul {
  display: block;
}