.test-menu {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 30px;

  a {
    overflow: hidden;
    text-align: center;
    color: white;
    transition: 0.3s linear;

    &::after {
      content: "";
      display: block;
      width: 0;
      transition: 0.3s linear;
      background-color: currentColor;
      height: 2px;
      margin-left: auto;
      //   margin-right: auto;
      margin-top: 3px;
    }

    &:hover {
      color: var(--accent);
      //   text-decoration: underline 15px;

      //   text-underline-offset: 15px;
      //   text-decoration-color: yellow;
      //   text-decoration-style: double;
      &::after {
        width: 100%;
      }
    }
  }
}

.test-menu-2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 30px;

  a {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    transition: 0.3s linear;

    span {
      display: block;
      transition: 0.3s linear;
    }

    &::after {
      content: attr(data-text);
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      transition: 0.3s linear;
      color: yellow;
    }

    &:hover {
      color: var(--accent);
      span {
        transform: translateY(-100%);
      }

      &::after {
        transform: translateY(-100%);
      }
    }
  }
}
